<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('components/header'); -%>
</head>

<body>
    <%- include('components/navbar'); -%>
    
    <!-- Content Here -->
    <div class="containner">
       
        <div class="row">
                <div class="col l5"></div>
          <div class="col s12 l4">
            <h2>Login Form</h2> 
          </div>
  
        </div>
      <div class="row">
          <div class="col l2"></div>
          <form class="col s12 l9" action="/software-home/us-central1/app/login_form" method="POST">
            
            <div class="row">
                    <div class="col l3"></div>
              <div class="input-field col s12 l5">
                <input id="iden" name="studentID" type="text" class="validate" required="">
                <label for="studentID">Student ID</label>
              </div>
              <div class="col l3"></div>
            </div>
            <div class="row">
                    <div class="col l3"></div>
              <div class="input-field col s12 l5">
                <input id="password" name="password" type="password" class="validate" required="">
                <label for="password">Password</label>
              </div>
              <div class="col l3"></div>
            </div>
            <div class="row">
              <div class="col l5"></div>
              <div class="col s12 l3">
                  <button class="btn blue darken-4 waves-effect waves-light" type="submit">Login
                      <i class="material-icons right">send</i>
                    </button>
              </div>
              <div class="col l3"></div>
              <!-- <div class="col s4"></div> -->
  
            </div>
      
          </form>
        </div>
      </div>

    <%- include('components/script'); -%>
</body>

</html>